body {
  font-family: 'Noto Sans';
}

header {
  margin: 0 auto;
  line-height: 5vh;
}

.hdr-ds {
  font-style: italic;
  font-weight: bold;
  font-size: 3vw;
}

.hdr-sc {
  font-family: 'Prosto One';
  font-size: 5vw;
}

#enigma {
  font-size: 1vw;
  text-align: center;
  padding-top: 5%;
  line-height: 1.4;
}

#ftr {
  font-size: .5vw;
  text-align: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

table {
  margin: 1vw auto;
  width: 80%;
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  padding: 1em;
  text-align: center;
}

td {
  padding: 1em;
  text-align: left;
  border: 1px solid black;
}
